html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin-top: 300px;
	text-align: center;
}

a {
	text-decoration: inherit;
}

/* button stuff */
.swagButton {
	color: #0081ff;
	font-family: 'Roboto';
	font-size: 40px;
	text-align: center;
	
	
	border: solid 2px #0081ff;
	border-radius: 50px;
	
	padding: 10px 80px;
	
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	
}

.swagButton:hover {
	
	background-color: #0081ff;
	color: #fff;
	
}